<!--Content in second block of Home page-->
<span class="even">
    <h1 class="display-4">Mission Statement</h1>
    <p class="blockquote" id="missionStatement">Strive to be a good software engineer who never
     stops learning and spreading knowledge.<br></p>
     <p class="lead">
     To know more about me, visit the <a href="/about" class="btn btn-info"><strong>About me</strong></a> page.
    </p>
</span>